body{
    font-family:'Nunito', sans-serif !important;
}
.btn{
    box-shadow:none !important;
}
input{
    box-shadow:none !important;
}

/* navbar */
.navbar{
    background-color:white !important;
}
.navbar-border-bottom{
    border-bottom:1px solid rgb(192, 190, 190);
}
.navbar-border-bottom-hapus{
    border-bottom:1px solid rgb(192, 190, 190);
}
.navbar-brand{
    font-weight:bold !important;
    color:rgb(110, 110, 110) !important;
}
.btn-log{
    border-radius:30px !important;
    color:#707070 !important;
    font-weight:200 !important;
    border:2px solid #707070;
    margin-top:15px !important;
}
.btn-dash{
    margin-top:15px !important;
}
.btn-maha{
    margin-top:15px !important;
}
.btn-log:hover{
    background-color:#707070;
    color:white !important;
    transition:all 0.5s;
}
.btn-navbar-edited{
    border-radius:30px !important;
    color:white !important;
    font-weight:bold !important;
    border:0px solid !important;
    background-image:linear-gradient(to bottom right, #0044ff, #a7e3ff) !important;
}
/* akhir navbar */

/* home */
.home{
    color:rgb(110, 110, 110) !important;
}
.home .kiri{
    text-align:center;
    margin-top:-140px !important;
}
.selamat{
    font-size:28px;
    font-weight:200;
}
.home p{
    font-size:18px;
    line-height:27px;
    margin:15px 0 30px 0;
}
.tombol-login{
    border:3px solid #707070;
    border-radius:20px;
    color:#707070 !important;
    padding:7px 18px !important;
    text-decoration:none;
    font-size:20px;
}
.tombol-login:hover{
    background-color:#707070;
    color:white !important;
    transition:all 0.5s;
}
.home-background{
    background-image:none;
}
.home .kiri img{
    display:block;
    position:relative !important;
    left:-170px !important;
    top:90px !important;
    opacity:0.4 !important;
    transform:scale(0.3) rotate(-10deg) !important;
}
.home .kanan img{
    display:none;
}
/* akhir home */

/* login */
.login{
    color:rgb(110, 110, 110) !important;
}
.login .kiri img{
    display:none;
}
.login .kanan img{
    display:block;
    position:relative;
    top:-90px;
    left:-200px;
    transform:scale(0.3) rotate(10deg);
}
.login h4{
    text-align:center;
}
.alert-edited{
    padding:5px;
    border-radius:12px;
    font-size:14px;
}
.field-login{
    margin-top:15px;
    position:relative;
    z-index:100 !important;
    padding:5px 5px 5px 9px;
    border-radius:12px;
    font-size:14px;
}
.btn-login-grid{
    padding:4px 0;
}
.card-login{
    background-color:white;
    padding:50px 40px;
    width:95%;
    box-shadow:2px 2px 5px gray;
    border-radius:10px;
    position:relative;
    top:-250px;
    left:8px;
}
/* akhir login */

/* dashboard */
.back-card{
    background-color:rgba(128, 128, 128, 0.192);
    transform:rotate(-3deg);
    border-radius:10px;
}
.front-card{
    color:white;
    padding:25px;
    padding-bottom:8px;
    border-radius:10px;
    transform:rotate(3deg);
}
.front-card h6{
    font-size:13px !important;
}
.front-card-mahasiswa{
    background-image:linear-gradient(to bottom right, #ff3c00, #ffe600) !important;
}
.front-card-buku{
    background-image:linear-gradient(to bottom right, #25f152, #b3ff00) !important;
}
.front-card-jurusan{
    background-image:linear-gradient(to bottom right, #ff0000, #ff00ff) !important;
}
.front-card-collapse{
    background-image:linear-gradient(to bottom right, #00aeff, aqua) !important;
}
.front-transaksi-harian{
    background-image:linear-gradient(to bottom right, rgba(76, 0, 255, 0.808), #ff00d4b7) !important;
}
.front-transaksi-bulanan{
    background-image:linear-gradient(to bottom right, #ff9900, #d0ff00) !important;
}
/* akhir dashboard */

/* mahasiswa admin */
.judul-card{
    font-size:14px !important;
    font-weight:bold !important;
    padding:8px 23px 8px 8px !important;
    border-radius:10px 32px 0 0 !important;
    color:white;
    background-color:rgb(0, 119, 255) !important;
}
.card-edited{
    border:0px solid !important;
    border-bottom:1px solid rgb(150, 149, 149) !important;
}
.thead-edited{
    background-color:rgb(0, 119, 255) !important;
    color:white !important;
}
/* akhir mahasiswa admin */

/* transaksi */
.tran-control{
    padding:1px !important;
}
/* akhir transaksi */

/* mahasiswa ( user ) */
.front-card-peminjaman-hari-ini{
    background-image:linear-gradient(to bottom right, #0044ff, #a7e3ff);
}
.front-card-total-transaksi{
    background-image:linear-gradient(to bottom right, #ff0000, #ff00ff) !important;
}
.front-card-total-buku{
    background-image:linear-gradient(to bottom right, rgba(76, 0, 255, 0.808), #ff00d4b7) !important;
}
.card-trans-maha{
    margin-bottom:50px;
}
.card-body-trans-maha{
    height:290px;
    padding:0px;
    overflow-y:scroll;
}
.list-group-maha{
    border-radius:0px;
}
.list-group-item-maha{
    border:0px !important;
    border-bottom:1px solid rgb(209, 209, 209) !important;
}
.list-group-item-maha:hover{
    background-color:rgb(241, 241, 241);
}
/* akhir mahasiswa ( user ) */

/* loading overlay */
.lds-ring {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
}
.lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: 35px;
   height: 35px;
   margin: 8px;
   border: 3px solid #fff;
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
}
@keyframes lds-ring {
   0% {
   transform: rotate(0deg);
   }
   100% {
   transform: rotate(360deg);
   }
}
#overlay-container{
   z-index:9999;
   position:fixed;
   top:0;
   left:0;
   bottom:0;
   right:0;
   background-color:rgba(0, 0, 0, 0.705);
   justify-content:center;
   align-items:center;
}
/* akhir loading overlay */

/* ukuran tablet */
@media (min-width: 768px) {
    .navbar{
        background-color:white !important;
        border-bottom:1px solid rgb(192, 190, 190);
    }
    /* home */
    .home .kiri{
        text-align:center !important;
        margin-top:50px !important;
    }
    .home .kiri img{
        display:none;
    }
    .selamat{
        font-size:28px;
        margin-top:70px;
        font-weight:200;
    }
    .home p{
        font-size:18px;
        line-height:27px;
        margin:15px 0 30px 0;
    }
    .home .kanan img{
        display:block;
        position:relative;
        left:-140px !important;
        margin-top:-380px !important;
        opacity:0.4 !important;
        transform:scale(0.3) rotate(-10deg) !important;
    }
    .tombol-login{
        border-radius:25px;
        padding:10px 25px !important;
        font-size:22px;
    }
    /* akhir home */

    /* login */
    .login{
        color:rgb(110, 110, 110) !important;
    }
    .login .kiri img{
        display:none;
    }
    .login .kanan img{
        display:block;
        position:relative;
        transform:scale(0.5) rotate(10deg);
        left:-560px;
        top:-20px;
    }
    .alert-edited{
        padding:8px;
        border-radius:15px;
        font-size:17px;
    }
    .field-login{
        margin-top:15px;
        position:relative;
        z-index:100 !important;
        padding:8px 8px 8px 12px;
        border-radius:15px;
        font-size:17px;
    }
    .btn-login-grid{
        padding:7px 0;
    }
    .card-login{
        padding:50px 40px;
        width:600px !important;
        border-radius:10px;
        position:relative;
        top:-150px;
        left:-375px;
    }
    /* akhir login */
}
/* akhir ukuran tablet */

/* ukuran laptop */
@media (min-width: 992px) {
    /* navbar */
    .btn-dash, .btn-log, .btn-maha{
        margin-top:0px !important;
    }
    .navbar-border-bottom-hapus{
        border-bottom:0px solid;
    }
    /* akhir navbar */

    /* home */
    .home .kiri{
        text-align:left !important;
        z-index:30;
        margin-top:0 !important;
    }
    .selamat{
        font-size:40px;
        margin-top:100px;
        font-weight:200;
    }
    .home p{
        font-size:20px;
        line-height:27px;
        margin:20px 0 30px 0 !important;
    }
    .home-background{
        background-image:url('../img/background.png');
        background-repeat: no-repeat;
        background-position-x: right;
        position:absolute !important;
        right:0;
        top:70px;
        min-height:550px;
        width:700px !important;
        z-index:10 !important;
    }
    .home .kanan img{
        display:block;
        position:relative !important;
        left:30px !important;
        margin-top:130px !important;
        opacity:1 !important;
        transform:scale(1) rotate(0) !important;
    }
    /* akhir home */

    /* login */
    .login .kiri img{
        display:block;
        transform:scale(0.9) rotate(20deg);
        margin-left:-70px;
        margin-top:10px;
        width:40vmax !important;
    }
    .login .kanan img{
        display:none;
    }
    .login h4{
        text-align:center;
    }
    .alert-edited{
        padding:8px;
        border-radius:15px;
    }
    .field-login{
        margin-top:20px;
    }
    .btn-login-grid{
        padding:7px 0;
        font-size:17px;
    }
    .card-login{
        padding:50px 40px;
        width:60% !important;
        position:relative;
        left:120px;
        top:110px;
        border-radius:10px;
    }
    /* akhir login */

    /* mahasiswa ( user ) */
    .card-body-trans-maha{
        height:380px;
    }
    /* akhir mahasiswa ( user ) */
}
/* akhir ukuran laptop */